@charset "utf-8";

* {
	box-sizing: border-box;
}

body {
	background-color: #1C1C1C;
	font-family: helvetica;
	margin: 0;
}

p {
	font-family: helvetica;
	color: #DCDCDC;
	padding: 18px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.side {
	flex: 50%;
	background-color: none;
}

.main {
	flex: 50%;
	background-color: none;
	flex-flow: row wrap;
}

.container-side {
	background-color: none;
	width: 100%;
}

.container-main {
	background-color: none;
	width: 50%;
}

@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}
}
