body {
  background-color: black;
  font-family: georgia, serif;
  font-size: 1em;
  color: #eee;
  margin: 5vh 5vw 5vh 5vw;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
  text-decoration: underline solid #333;
}

a:visited {
  color: darkgrey;
  text-decoration: black;
}

a:hover {
  color: dimgrey;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

hr {
  border: 1px solid #333;
}

h1 {
  font-size: 6em;
  font-weight: normal;
  margin: 0 0 0.25em 0;
  text-align: justify;
}

h2 {
  font-size: 4em;
  font-weight: normal;
  margin: 0.5em 0 0.5em 0;
  text-align: justify;
}

h3 {
  font-size: 3em;
  font-weight: normal;
  margin: 0.5em 0 0.5em 0;
  text-align: justify;
}

p {
  font-size: 2em;
  margin: 1em 0 1em 0;
  text-align: justify;
}

.caption {
  font-size: 1.75em;
  margin: 0.5em 0 1.5em 0;
  text-align: justify;
}

.body {
  margin-bottom:1.5em;
}

sup { 
  vertical-align: top; font-size: 0.6em; 
}

.tweet {
  max-width: 720px;
  margin: auto;
  margin-bottom: 2vh;
  padding: 2vh 2vw 2vh 2vw;
  border: 2px solid #222; 
  border-radius: 1vw;
}

.tweet p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  text-shadow: none;
  border-radius: 1vw;
  text-align: left;
  margin: 0.5em;
}

.small {
  font-size: 0.75em;
  color: dimgrey;
}

.verified {
  width: 1em;
  margin-bottom: -.2em;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  gap: 0 2%;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  gap: 0 2%;
  margin: 0;
}

.nav p {
  margin: 0;
}

@media (max-width: 1080px) {
  .flex {
    flex-flow: column;
  }
  .desktop {
    display: none;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
  .caption {
    font-size: 1.25em;
  }
  .tweet p {
    font-size: 1em;
  }
}