a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: darkgrey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: dimgrey;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

body {
  background-color: black;
  font-family: georgia, serif;
  color: white;
  margin: 0 10vw 0 10vw;
}

h1 {
  font-size: clamp(32px, 3vw, 128px);
  font-weight: normal;
  margin: 0.5vw;
  text-align: justify;
}

p {
  font-size: clamp(18px, 2vw, 72px);
  margin: 0.5vw;
  text-align: justify;
}

.caption {
  font-size: clamp(14px, 1.5vw, 56px);
  margin: 0.5vw;
  text-align: justify;
}

.tweet {
  max-width: 720px;
  margin: auto;
  margin-bottom:1vw;
  padding-top: 1%;
  padding-left: 2vw;
  padding-bottom: 1vw;
  padding-right: 2vw;
  border: 2px solid #222; 
  border-radius: 1vw;
}

.tweet p {
  font-family: Helvetica, Arial, sans-serif;
  text-shadow:none;
  border-radius: 1vw;
  text-align: left;
}

.verified {
  width: clamp(18px, 2vw, 72px);
  margin-bottom: -.2em;
}
